.main {
  @apply flex flex-col gap-4 items-start justify-start p-5 w-[700px] transition shadow-xl shadow-dark-background mb-20;
}

.nationCard {
  @apply cursor-default w-[300px] h-[400px] flex flex-col gap-4 items-center justify-center relative;
}

.nationCard img {
  @apply w-full h-full absolute object-cover top-0 left-0;
}

.nationCardContent {
  @apply flex items-center justify-center flex-col w-full h-full top-0 left-0 gap-3 transition opacity-0 translate-y-2 bg-pdark-hover-full;
}

@media (max-width: 900px) {
  .main {
    @apply w-[500px];
  }
}

@media (max-width: 700px) {
  .nationCard {
    width: auto;
    height: auto;
  }

  .nationCard img {
    min-width: 80px;
    min-height: 80px;
    @apply w-20 h-20 rounded-full relative;
  }

  .nationCard p {
    display: none;
  }

  .nationCardContent {
    background: none;
    @apply opacity-100 translate-y-0;
  }
}

@media (max-width: 575px) {
  .main {
    @apply w-[90%];
  }

  .main h2 {
    @apply text-2xl;
  }
}

@media (max-width:400px) {
  .nation {
    @apply px-2
  }
}